/*===== main page styling =====*/
* {
    background-color: black;
}

h1 {
    font-family: 'Creepster', cursive;
    font-size: 75px!important;
    color: #9da338;
}

i {
    font-size: 40px;
}

.hidden {
    display: none;
}

/*.action-button {*/
/*    font-size: 40px!important;*/
/*    font-family: 'Creepster', cursive!important;*/
/*    text-transform: uppercase;*/
/*    background-color: #d5d988!important;*/
/*    color: #8B0000!important;*/
/*    cursor: pointer;*/
/*    border: 3px solid #9da338!important;*/
/*    padding: 0.25em 0.5em;*/
/*    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px!important;*/
/*}*/

button:hover {
    color: #ff0000;
}

.message {
    font-family: 'Creepster', cursive;
    color: #9da338;
    font-size: 50px;
}

.message a {
    color: #8B0000;
    text-decoration: none;
}

.message a:hover {
    color: #ff0000;
}

#fancy-word {
    font-style: italic;
    font-size: 90px;
    color: #ced650;
    -webkit-text-stroke: 3px #8B0000;
}

.info-button {
    width: 50px;
    height: 35px;
    padding: 0;
    text-align: center;
    font-size: 25px!important;
}

.dropdown-menu, option{
    background-color: #d5d988!important;
    font-family: 'Creepster', cursive;
}

option {
    font-size: 15px;
}

.dropdown-item:hover {
    background-color: #9da338!important;
    color: #8B0000!important;
}

.dropdown-item:active {
    color: #ff0000!important;
}

.modal * {
    background-color: #d5d988!important;
}

/*Buttons*/
button {
    background-color: #d5d988;
    color: #8B0000;
    border: 3px solid #9da338;
    box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
}

/*    font-size: 40px!important;*/
/*    font-family: 'Creepster', cursive!important;*/
/*    text-transform: uppercase;*/

/*    padding: 0.25em 0.5em;*/
/*    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px!important;*/
/*}